*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --textClr: #666766;
  --textClrHeading: #8675b6;
  --headingBttmMrgn: 30px;
}

html {
  background-color: black;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 480px;
  margin: 0 auto;
  background-color: white;
  /* height: 100vh; */
  padding: 40px 40px;
  line-height: normal;
}

header .ubi-logo {
  max-width: 200px;
}

header .ubi-logo img {
  width: 100%;
}

h1,
h2 {
  color: var(--textClrHeading);
  margin-bottom: var(--headingBttmMrgn);
  font-size: 38px;
  line-height: 46px;
}

h4 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 500;
  color: var(--textClrHeading);
  margin-bottom: var(--headingBttmMrgn);
}

.news-letter-issue {
  color: var(--textClr);
  font-weight: bold;
  margin: 30px 0;
}

.news-letter-content {
  color: var(--textClr);
  margin-bottom: 40px;
  line-height: 23px;
}

.news-letter-content ul {
  padding-left: 30px;
  margin: 20px 0;
  line-height: 23px;
}

.news-letter-content ul li {
  margin: 10px 0;
}

.news-letter-gradient {
  background: rgb(116, 204, 212);
  background: linear-gradient(250deg, rgba(116, 204, 212, 1) 0%, rgba(134, 117, 182, 1) 100%);
  border-radius: 20px;
  padding: 40px 40px;
  color: #fff;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 50px;
}

.news-letter-gradient h4 {
  color: #fff;
}

.news-letter-gradient .icon-img {
  width: fit-content;
  margin-bottom: var(--headingBttmMrgn);
}

.news-letter-gradient img {
  max-width: 100%;
}
